<div class="background">
  <div class="new-form">
    <div class="new-form-content">
      <%= form_for (@place) do |f| %>
      <p class="review-place_name"><i class="fas fa-map-marker-alt"></i> レビュー対象：<%= @place.place_name %></p>
        <%= f.fields_for :reviews do |r| %>
          <span>最寄駅：<%= f.text_field :area_name %></span><br>
          <span><i class="far fa-list-alt"></i> カテゴリ：<%= r.select :category, ["カフェ", "シェアオフィス","図書館","その他"] %></span><br>
          <span><i class="far fa-thumbs-up"></i> おすすめ度 (※1.絶対すすめない〜10.とてもすすめたい)</span>
          <%= r.select :recommend_rate, options_for_select((1..10).to_a) %><br>
          <span><i class="fas fa-plug"></i> コンセント有無</span>
          <%= r.select :socket, ["あり", "なし", "わからない"] %><br>
          <span><i class="fas fa-wifi"></i> Wifi速度(※1.とても遅い〜10.とても速い)</span>
          <%= r.select :wifi_rate, options_for_select((1..10).to_a) %><br>
          <span><i class="fas fa-pen"></i> 感想・コメント</span><br>
          <%= r.text_area :text, placeholder: "レビューを入力", autofocus: false, cols:"45", rows:"15", class:"comment-form" %><br>
          <%= r.file_field :image, placeholder: "画像アップロード", type: "file", style: "padding: 10px;" %>
          <%= r.hidden_field :user_id, value: current_user.id %>
        <% end %>
      </div>
      <%= f.submit "投稿する", class: "btn submit-btn" %>
      <% end %>
  </div>
</div>