<div id="index-container">
  
  <div id="introduction">
    <p class="title">Welcome to<span class="menu-logo2">Study Space</span></p>
    <p class="introduction-phrase">カフェ、シェアオフィス、図書館、、、あなたはいつもどこで勉強していますか？<br>
    勉強する場所を探すのに手間取り、気がついたら時間がなくなっていた!<br>
    なんてことありませんか？<br></p>
    <p class="introduction-phrase">
    勉強する場所に困ったら、このサイトでみんなのおすすめスペースを探してみましょう。<br>
    また、お気に入りの場所をみんなとシェアしましょう。</p>
  </div>
  
  <div class="btn-left btn">
    <span type="button" class="button"><i class="fas fa-search-location"> </i> 勉強スペースを探す</span>
  </div>
  <div class="btn-right btn">
    <span type="button" class="button"><i class="far fa-edit"></i> レビューを書く</span>
  </div>
  
  <!--全体のレビュー場所のマップ-->
    <div id="main-map-container">
      <div id="main-map"></div>
    
      <script type="text/javascript" charset="utf-8" src="https://map.yahooapis.jp/js/V1/jsapi?appid=<%= @appid %>"></script>
      <script type="text/javascript">
         window.onload = function() {
          var ymap = new Y.Map("main-map");
          ymap.setConfigure("dragging", true);
          var control = new Y.ZoomControl();
          ymap.addControl(control);
          ymap.drawMap(new Y.LatLng(<%= @locations[0][:lon] %>,<%= @locations[0][:lat] %>), 12, Y.LayerSetId.NORMAL);
          
          var icon = new Y.Icon('/assets/icon.png');
          
          var data = gon.locations;
          var locationMarker = new Array();
          
          for ( var i = 0;  i < data.length ;  i++  ) {
            locationMarker.push({lon: data[i].lon, lat: data[i].lat, id: data[i].id, placeName: data[i].placeName});
            }
          for ( var i = 0;  i < locationMarker.length ;  i++ ){
            var marker = new Y.Marker(new Y.LatLng(locationMarker[i].lon,locationMarker[i].lat ), {icon: icon});
            var placeId = locationMarker[i].id;
            marker.bindInfoWindow(`<div data-turbolinks="false"><a href=/places/${placeId}>${locationMarker[i].placeName}</a></div>`);
            console.log(placeId);
            console.log(locationMarker[i].placeName);
            ymap.addFeature(marker);
            }
            ymap.addFeature(marker);
            }
      </script>
  </div>
  <!--ここからモーダル-->
  <div id="search-form">
    <div class="modal">
      <i class="far fa-times-circle close-btn fa-2x"></i>
      <div class="form-content">
        <span>レビュー対象場所を入力ください</span>
        <p>例：エクセルシオール　渋谷</p>
        <%= form_tag search_places_path, method: :get do %>
          <input name="keyword" placeholder="キーワードで検索" type="text" value="" class="form">
          <button class="btn-search btn" title="検索" type="submit"><i class="fab fa-sistrix fa-2x"></i></button></input>
        <% end %>
      </div>
    </div>
  </div>
  <div id="area-index">
    <div class="area-modal">
      <i class="far fa-times-circle close-btn fa-2x"></i>
      <div class="area-content">
        <span>最寄駅で探す（<%= @areas.length %>）</span>
        <div class="area-wrap">
          <% @areas.each do |area| %>
            <%= link_to area, reviews_path(area), class:"area" %>
          <% end %>
        </div>
      </div>
      <div class="address-search">
        <span>住所・エリアで検索</span>
        <%= form_tag search_reviews_path, method: :get do %>
        <input name="keyword" placeholder="例：渋谷" autocomplete="false" type="text" value="" class="search-form">
        <button class="btn-search btn" title="検索" type="submit"><i class="fab fa-sistrix fa-2x"></i></button></input>
        <% end %>
      </div>
    </div>
  </div>
      <!--ここまでモーダル-->

</div>