<h3>＠<%= @place[:place_name] %></h3>
<p>レビュー数：<%= @reviews.count %>件</p>
<p>エリア：<%= @place[:area_name] %></p>


<div id="map" style="width:400px; height:300px"></div>
<script type="text/javascript" charset="utf-8" src="https://map.yahooapis.jp/js/V1/jsapi?appid=<%= @appid %>"></script>
<script type="text/javascript">
   window.onload = function() {
    var ymap = new Y.Map("map");
    ymap.setConfigure("dragging", true);
    var control = new Y.ZoomControl();
    ymap.addControl(control);
    ymap.drawMap(new Y.LatLng(<%= @place[:lon] %>,<%= @place[:lat] %>), 17, Y.LayerSetId.NORMAL);
    
    var icon = new Y.Icon('https://img.icons8.com/ios-glyphs/30/000000/place-marker.png');
    var marker = new Y.Marker(new Y.LatLng(<%= @place[:lon] %>,<%= @place[:lat] %>), {icon: icon});
    ymap.addFeature(marker);
}
</script>

<% @reviews.each do |review| %>
  <span>カテゴリー：<%= review.category %></span>
  <div class="wrap">
    おすすめ度：
    <% if review.recommend_rate <= 1 %>
      <span class="rate rate0"></span>
    <% elsif review.recommend_rate <= 2 %>
      <span class="rate rate1"></span>
    <% elsif review.recommend_rate <= 3 %>
      <span class="rate rate1-5"></span>
    <% elsif review.recommend_rate <= 4 %>
      <span class="rate rate2"></span>
    <% elsif review.recommend_rate <= 5 %>
      <span class="rate rate2-5"></span>
    <% elsif review.recommend_rate <= 6 %>
      <span class="rate rate3"></span>
    <% elsif review.recommend_rate <= 7 %>
      <span class="rate rate3-5"></span>
    <% elsif review.recommend_rate <= 8 %>
      <span class="rate rate4"></span>
    <% elsif review.recommend_rate <= 9 %>
      <span class="rate rate4-5"></span>
    <% elsif review.recommend_rate <= 10 %>
      <span class="rate rate5"></span>
    <% end %>
  </div>
  <div class="wrap">
    wifi速度：
    <% if review.wifi_rate <= 1 %>
      <span class="rate rate0"></span>
    <% elsif review.wifi_rate <= 2 %>
      <span class="rate rate1"></span>
    <% elsif review.wifi_rate <= 3 %>
      <span class="rate rate1-5"></span>
    <% elsif review.wifi_rate <= 4 %>
      <span class="rate rate2"></span>
    <% elsif review.wifi_rate <= 5 %>
      <span class="rate rate2-5"></span>
    <% elsif review.wifi_rate <= 6 %>
      <span class="rate rate3"></span>
    <% elsif review.wifi_rate <= 7 %>
      <span class="rate rate3-5"></span>
    <% elsif review.wifi_rate <= 8 %>
      <span class="rate rate4"></span>
    <% elsif review.wifi_rate <= 9 %>
      <span class="rate rate4-5"></span>
    <% elsif review.wifi_rate <= 10 %>
      <span class="rate rate5"></span>
    <% end %>
    
  </div>
  <p>レビュー：<%= review.text %></p>
  <p>更新日：<%= review.updated_at.to_date%></p>
<% end %>
